
body{
  display: flex;
  justify-content: center;
  background-color: #101011;
  font-family: Helvetica, sans-serif
}

.tela1{
  border: 5px #ddd; 
  box-shadow: 0px 0px 10px;
  background-color: #ADD8E6;
  position: absolute;
  padding: 1em 2em;
 
  width: 25%;
 
  left: 0;
  right: 0;
  margin: auto;
 
  top: 50vh;
  transform : translateY(-50%);
 
  border-radius: 5px;
}

.botao{
  font-aling: center;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  background-color: #1b2845;
  color: white;
  cursor: pointer;
  border: none;
  transform : translateY(25%);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #2b2b2e;
}

#peso {
  border: none;
  width: 85%;
  font-size: 18px;
}

#altura {
  border: none;
  width: 85%;
  font-size: 18px;
}


#resultado {
  transform : translateY(80%);
}
